p, span, h1, h2, h3, a {
    color:#333333;
    
}

body{
    margin: 0 auto;
    background:#fbdb9e;
}

header{
    padding: 0 30px;
}
header h1{
    display: inline-block;
}
header nav{
    display: inline-block;
    height:60px;
    padding-top: 25px;
    float: right;
}
/* Login Page */
.login{
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
}
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
.login_form{
    width: 500px;
    border: 1px solid #DDD;
    padding: 30px;
}
.login_form input[type=text], .login_form input[type=password]{
    width: 440px;
}
.login_form input[type=submit]{
    float: right
}

/* Registration Page */
.registration{
    padding: 30px;

}
.registration form{
    width: 400px;
    margin-bottom: 10px;
}
.registration input[type=text], .registration input[type=password], .registration input[type=email]{
    width: 400px;
    margin-bottom: 10px;
}
.registration select{
    margin-bottom: 10px;
    margin-right: 10px;
}
.registration a{
    color: #333;
}

/*Page profile*/

.fos_user_user_show {
    padding: 30px;
}

.fos_user_user_show h2 {
    margin-bottom: 15px;
}

.fos_user_user_show .profile-photo {
    height:150px;
    width:150px;
    border:5px solid white;
    float:left;
    margin-right:15px;
}

.fos_user_user_show span.label {
    color:#333333;
    font-size:12px;
}

